*{
    margin: 0;
    border: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

*::selection{
    background: #58416d;
}

body{
    background-color: #58416d;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

nav{
    text-align: center;
    display: none;
    padding: 10px;
    background-color: #2c2e2c;
    margin: 10px;
    border-radius: 20px;
}

nav ul{
    display: flex;
    list-style-type: none;
    background-color: #1e1f1d;
    border-radius: 10px;
}

nav ul li{
    margin: 10px;
    align-self: center;
}

nav ul a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: #58416d;
}

abbr{
    text-decoration: none;
}

#profilePicture{
    display: none;
}

#PCB{
    text-align: center;
}

#PCBImage{
    border-radius: 20px 20px 0 0;
}

#transitionFirst{
    text-align: center;
}

#ALU1{
    display: block;
    background-color: #2c2e2c;
    margin: auto;
    padding: 30px;
    border-radius: 0 0 200px 200px;
    text-align: center;
    font-size: x-large;
}

#ALU1 a{
    text-decoration: none;
    color: white;
}

#ALU1 a:hover{
    color: #58416d;
    cursor: pointer;
}

#connectionFirst{
    text-align: center;
}

#connection1{
    background-color: white;
    width: 10px;
    height: 100px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#frontend{
    text-align: center;
}

#page{
    border-radius: 30px;
    padding: 10px 0;
    margin: 0px 10px;
    background-color: #2c2e2c;
}

#frontendHeader{
    display: flex;
}

.frontendTabs img{
    margin-top: 12.5px;
    margin-left: 10px;
    margin-bottom: 5px;
}

#frontendJSTab img{
    margin-top: 15px;
}

.frontendTabs{
    display: flex;
    text-align: left;
    background-color: #1e1f1d;
    border-radius: 30px 30px 0 0;
}

.frontendTabs:hover{
    background-color: #58416d;

    .frontendButtons{
        background-color: #58416d;
    }

}

#frontendHeaderTab{
    margin-left: 10px;
    width: 200px;
}

#frontendHTMLTab{
    width: 175px;
}

#frontendCSSTab{
    width: 145px;
}

#frontendJSTab{
    width: 125px;
}

#frontendHeader h2{
    margin-top: 12px;
    margin-left: 10px;
}

.frontendButtons{
    background-color: #1e1f1d;
    color: white;
    font-size: larger;
    font-weight: 700;
}

.frontendButtons:hover{
    cursor: pointer;
    color: white;
    background-color: #58416d;
}

#frontendHeader h4{
    margin-top: 20px;
    margin-left: 15px;
    font-family: Arial, Helvetica, sans-serif
}

#frontendURL{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    background-color: #1e1f1d;
}

#frontendURL a{
    text-decoration: none;
    color: white;
}

#frontendURL a:hover{
    color: #58416d;
    cursor: pointer;
}

#frontendBody{
    display: flex;
}

#frontendBody div{
    padding: 10px;
}

#HTML{
    background-color: #1e1f1d;
    margin: 10px;
    border-radius: 30px;
    text-align: left;
    overflow: auto;
}

#CSS{
    background-color: #1e1f1d;
    margin: 10px;
    border-radius: 30px;
    text-align: left;
    overflow: auto;
}

#JS{
    background-color: #1e1f1d;
    margin: 10px;
    border-radius: 30px;
    text-align: left;
    overflow: auto;
}

#connectionSecond{
    display: flex;
    text-align: center;
    justify-content: center;
}

#connectionSecond div {
    display: inline-block;
    background-color: white;
    width: 10px;
    height: 100px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#ALU2{
    display: block;
    background-color: #2c2e2c;
    margin: 10px;
    padding: 30px;
    border-radius: 100px 100px 0px 0px;
    text-align: center;
    font-size: x-large;
}

#ALU2 a{
    text-decoration: none;
    color: white;
}

#ALU2 a:hover{
    color: #58416d;
    cursor: pointer;
}

#bigViewDesign{
    margin-left: 40px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'leftLine line1 topics line2 image1 image1 image1 image1 image1 image1 image1 image1 line3 image2 image2 image2 image2 image2 image2 image2 image2  '
}

#smallViewDesign{
    display: none;
}

#connection3LineLeft{
    background-color: white;
    width: 10px;
    height: 1600px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
    grid-area: leftLine;
}

.connection3Line{
    background-color: white;
    padding: 5px;
    width: 20px;
    border-radius: 5px;
    margin: auto;
}

.connectionTopicLines{
    grid-area: line1;
    display: flex;
    flex-direction: column;
}

.connectionLines{
    margin: auto;
    padding: 5px 10px; 
    background-color: white;
    border-radius: 3px;
}

.topic{
    grid-area: topics;
    display: flex;
    flex-direction: column;
}

.topic a{
    display: inline;
    background-color: #2c2e2c;
    border-radius: 0 50px 50px 0;
    padding: 20px;
    margin: auto;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.topic a:hover{
    color: #58416d;
}

.topicImageLeftLines{
    grid-area: line2;
    display: flex;
    flex-direction: column;
}

.topicImagesLeft{
    grid-area: image1;
    display: flex;
    flex-direction: column;
}

.outterTopicImageBorder{
    text-align: center;
    background-color: #2c2e2c;
    width: 96%;
    height: 96%;
    margin: 10px;
    border-radius: 5%;
}

.innerTopicImageBorder{
    text-align: center;
    background-color: #1e1f1d;
    width: 96%;
    height: 96%;
    margin: 10px auto;
    border-radius: 5%;
}

.topicImages{
    max-height: 400px;
    max-width: 400px;
    margin: 10px auto 0 auto;
}

.ImageLeftImageRightLines{
    grid-area: line3;
    display: flex;
    flex-direction: column;
}

.topicImagesRight{
    grid-area: image2;
    display: flex;
    flex-direction: column;
}

#ALU3{
    display: block;
    background-color: #2c2e2c;
    margin: 10px;
    padding: 30px;
    border-radius: 0px 0px 100px 100px;
    text-align: center;
    font-size: x-large;
}

#ALU3 a{
    text-decoration: none;
    color: white;
}

#ALU3 a:hover{
    color: #58416d;
    cursor: pointer;
}

#connectionThird{
    text-align: center;
}

#connection3Line{
    background-color: white;
    width: 10px;
    height: 100px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#programming{
    background-color: #2c2e2c;
    margin: 10px;
    border-radius: 20px;
    display: grid;
    gap: 10px;
    grid-template-areas: 
    'languageSelector   body body body body body body body body body body body body body body body'
}

#programmingHeader{
    text-align: left;
    grid-area: languageSelector;
    margin: 10px 0 0 10px;
    border-radius: 10px;
    min-width: 220px;
}

#languageSelector{
    border-radius: 10px;
    background-color: #1e1f1d;
}

#languageSelector h2 span{
    font-family: Arial, Helvetica, sans-serif;
}

#languageSelector ul{
    list-style-type: none;
    margin-left: 25px;
}

#languageSelector ul span{
    font-family: Arial, Helvetica, sans-serif;
}

#languageSelector ul li ul{
    margin-left: 40px;
}

#languageSelector ul li ul li{
    margin-bottom: 5px;
    text-align: left;
}

#languageButton{
    background-color: #1e1f1d;
    color: white;
    border-radius: 10px;
    font-size: large;
    margin-left: 10px;
}

#languageButton:hover{
    cursor: pointer;
    color: #58416d;
}

#languageButtonText{
    min-width: 130px;
}

.languageSelectorButtons{
    background-color: #1e1f1d;
    color: white;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: large;
}

.languageSelectorButtons:hover{
    cursor: pointer;
    color: #58416d;
}

.projectSelectorButtons{
    background-color: #1e1f1d;
    color: white;
    font-size: large;
}

.projectSelectorButtons:hover{
    cursor: pointer;
    color: #58416d;
}

#languageBody{
    grid-area: body;
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

#languageDirectory{
    background-color: #1e1f1d;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    overflow: auto;
}

#languageDirectory a{
    text-decoration: none;
    color: white;
    font-size: large;
}

#languageDirectory a:hover{
    cursor: pointer;
    color: #58416d;
}

#languageCode{
    background-color: #1e1f1d;
    padding: 10px;
    border-radius: 20px;
    margin-top: 5px;
    overflow: auto;
    max-height: 50rem;
}

#bigViewSoftSkills{
    margin: 0px 10px;
    display: grid;
    grid-template-areas: 
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    'leftImage leftImage leftImage transition rightImage rightImage rightImage'
    ;
}

#smallViewSoftSkills{
    display: none;
}

#leftImageBackground{
    grid-area: leftImage;
    text-align: center;
    background-color: #2c2e2c;
    width: 98%;
    height: 98%;
    max-height: 600px;
    margin: 2% 2% 0px 0;
    border-radius: 5%;
}

#leftImageBorder{
    background-color: #1e1f1d;
    width: 96%;
    height: 96%;
    max-height: 560px;
    margin: 2%;
    border-radius: 5%;
}

#leftImage{
    width: 96%;
    height: 96%;
    max-height: 520px;
    margin: 2%;
}

#connectionFourth,#transitionFourth,#socials,#connectionFifth{
    text-align: center;
    grid-area: transition;
    display: flex;
    flex-direction: column;
}

#ALU4{
    display: block;
    background-color: #2c2e2c;
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: x-large;
    border-radius: 50%;
    margin: auto;
}

#ALU4 a{
    text-decoration: none;
    color: white;
}

#ALU4 a:hover{
    color: #58416d;
    cursor: pointer;
}

#ALU4 h1{
    padding-top: 25px;
}

#connectionFourth{
    text-align: center;
}

#connection4Line{
    background-color: white;
    width: 10px;
    height: 200px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#socials{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#connectionFifth{
    text-align: center;
}

#connection5Line{
    background-color: white;
    width: 10px;
    height: 200px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}

#rightImageBackground{
    grid-area: rightImage;
    text-align: center;
    background-color: #2c2e2c;
    width: 98%;
    height: 98%;
    max-height: 600px;
    margin: 2% 0px 0px 2%;
    border-radius: 5%;
}

#rightImageBorder{
    background-color: #1e1f1d;
    width: 96%;
    height: 96%;
    max-height: 560px;
    margin: 2%;
    border-radius: 5%;
}

#rightImage{
    width: 96%;
    height: 96%;
    max-height: 520px;
    margin: 2%;
}

#connectionSixth{
    text-align: center;
    margin: 0 10px;
}

#connection6Line{
    background-color: white;
    width: 10px;
    height: 100px;
    margin: 10px auto 10px auto;
    border-radius: 5px;
}







#returnButton{
    background-color: #2c2e2c;
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 60px;
    height: 60px;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    opacity: 0.8;
}

#returnButton:hover{
    opacity: 1;
}

#returnButton div:hover{
    background-color: #58416d;
    border-radius: 5px;
}

#returnButton div{
    width: 60px;
    height: 60px;
    background-color: #1e1f1d;
    border-radius: 5px;
}

#returnButtonLink{
    text-decoration: none;
    font-size: 45px;
    text-align: center;
    color: white;
}

footer{
    text-align: left;
    margin:10px;
    margin-bottom: 0;
    background-color: #2c2e2c;
    border-radius: 20px;
    padding: 10px;
}

form{
    padding-bottom: 20px;
    padding: 5px 10px 30px 10px;
    background-color: #1e1f1d;
    border-radius: 10px;
}

label{
    margin-left: 10px;
    font-size: large;
}

input:hover,textarea:hover{
    background-color: #2c2e2c;
}

input[type="text"],input[type="email"],textarea{
    margin: 10px 0px;
    width: 100%;
    height: 35px;
    border-radius: 10px;
    color: white;
    background-color: #58416d;
    font-size: large;
    padding-left: 5px;
}

#email,#subject{
    max-width: 300px;
}

form div{
    margin-right: 5px;
}

#message{
    height: 200px;
}

input[type="submit"]{
    color: white;
    padding-bottom: 5px;
    width: 100px;
    height: 35px;
    font-size: larger;
    border-radius: 10px;
    background-color: #58416d;
    margin-left: 90px;
}

input:hover{
    cursor: pointer;
    background-color: #2c2e2c;

}

@media only screen and (min-width:2560px){

    #PCBImage{
        width: 2540px;
        height: 1440px;
    }

}

@media only screen and (min-width:1920px) and (max-width:2559px){

    #PCBImage{
        width: 1900px;
        height: 1080px;
    }

    #ALU1{
        width: 1840px;
    }
}

@media only screen and (min-width:1280px) and (max-width:1919px){

    #PCBImage{
        width: 1260px;
        height: 720px;
    }

    #ALU1{
        width: 1200px;
    }

}

@media only screen and (max-width:860px){

    #frontendBody{
        display: flex;
        flex-direction: column;
    }

}

@media only screen and (min-width:800px) and (max-width:1279px){

    #PCBImage{
        width: 780px;
        height: 438px;
        
    }

    #ALU1{
        width: 720px;
    }

}

@media (max-width:1250px) {
    
    #bigViewDesign{
        display: none;
    }

    #smallViewDesign{
        display: flex;
        flex-direction: column;
        margin: auto;
        gap: 10px;
    }

    .outterTopicImageBorder{
        width: auto;
    }

    #connection3LineLeft{
        height: 100px;
    }

    .topic a{
        border-radius: 0 0 50px 50px;
    }

    .connectionLines{
        padding: 20px 5px;
    }

    .topicImages{
        margin-top: 2.5px;
    }

    .outterTopicImageBorder{
        text-align: center;
        background-color: #2c2e2c;
        width: 98%;
        height: 98%;
        margin: 2% 2% 0px 0;
        border-radius: 5%;
    }
    
    .innerTopicImageBorder{
        background-color: #1e1f1d;
        width: 96%;
        height: 96%;
        margin: 2%;
        border-radius: 5%;
    }
    
    .topicImages{
        width: 96%;
        height: 96%;
        margin: 2%;
    }

    #bigViewSoftSkills{
        display: none;
    }

    #smallViewSoftSkills{
        display: flex;
        flex-direction: column;
    }

    .connectionSkillSection{
        text-align: center;
    }

    #connection4Line{
        height: 100px;
    }

    .connectionSkillLine{
        background-color: white;
        width: 10px;
        height: 50px;
        margin: 10px auto 10px auto;
        border-radius: 5px;
    }

    #leftImageBackground{
        margin: auto;
    }

    #socials{
        max-width: 230px;
        margin: auto;
    }

    #rightImageBackground{
        margin: auto;
    }

}

@media only screen and (max-width:799px) and (min-width:599px){

    nav{
        display: block;
    }

    #profile{
        text-align: center;
    }

    #profilePicture{
        margin:auto;
        display: block;
        width: 95%;
        height: 95%;
    }

    #PCBImage{
        display: none;
    }

    #ALU1{
        width: 85%;
    }

    #frontendHeaderTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendHTMLTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendCSSTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendJSTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }

}

@media only screen and (max-width:599px){

    nav{
        display: block;
        flex-direction: column;
    }

    nav ul{
        flex-direction: column;
    }

    #profile{
        text-align: center;
    }

    #profilePicture{
        margin:auto;
        display: block;
        width: 95%;
        height: 95%;
    }

    #ALU1{
        width: 75%;
    }


    #PCBImage{
        display: none;
    }

    #frontendHeader{
        flex-direction: column;
    }

    #frontendHeader h4{
        margin-left: 5px;
    }

    .frontendTabs{
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 5px;
        width: auto;
    }

    .frontendTabs h2{
        margin: 0 auto;
    }

    #frontendHeaderTab{
        width: auto;
    }

    #frontendHTMLTab{
        flex-direction: row;
        width: auto;
    }
    
    #frontendCSSTab{
        width: auto;
    }
    
    #frontendJSTab{
        width: auto;
    }

    #frontendBody{
        display: flex;
        flex-direction: column;
    }
    
    #frontendHeaderTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendHTMLTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendCSSTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
        
    #frontendJSTab h4{
        margin-top: 20px;
        margin-left: auto;
        margin-right: 10px;
    }
    
    #ALU3{
        width: 75%;
        margin: auto;
    }

    #programming{
        display: flex;
        flex-direction: column;
        gap: 0px;
    }

    #programmingHeader{
        margin: 10px 10px 5px 10px;
    }

    #languageBody{
        margin-left: 10px;
        margin-bottom: 10px;
    }

    #languageDirectory{
        margin-top: 0px;
        margin-bottom: 5px;
    }

    form{
        text-align: center;
    }

    label{
        margin: auto;
    }

    input[type="submit"]{
        margin:0 auto;
    }

}